.about {
    text-align: center;
    padding-bottom: 50px;
}
.about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-padding) 0 0;
}
.about .content .box {
    width: 38%;
    text-align: left;
}
.about .content .box h2 {
    font-size: 29px;
    text-transform: capitalize;
}
.about .content .box p {
    font-size: 17px;
    line-height: 1.5;
}
.about .content .imag {
    width: 55%;
}
.about .imag img {
    width: 100%;
}
.about .text {
    width: 80%;
    margin: 0 auto;
    margin-top: 55px;
}
.about .text h3 {
    font-size: 29px;
}
.about .text p {
    font-size: 18px;
    line-height: 1.3;
}
@media (max-width: 1000px) {
    .about .content {
        flex-direction: column;
    }
    .about .content .box {
        width: 100%;
    }
    .about .content .imag {
        width: 100%;
    }
    .about .text {
        width: 80%;
    }
}
@media(max-width: 767px) {
    .about .text h3 {
        font-size: 20px;
    }
    .about .text p {
        font-size: 16px;
        line-height: 1.4;
    }
}